.ColorPicker {
  button {
    border: none;
    padding: 1em;

    cursor: pointer;
  }

  div {
    width: 100px;
    height: 100px;
  }

  .red {
    background-color: red;
  }

  .yellow {
    background-color: yellow;
  }

  .green {
    background-color: green;
  }

  .blue {
    background-color: blue;
    color: white;
  }

  .purple {
    background-color: purple;
  }
}